@font-face {
  font-family: 'icomoon';
  src: url('/static/fonts/icomoon.eot?wwbq5l');
  src: url('/static/fonts/icomoon.eot?wwbq5l#iefix') format('embedded-opentype'), url('/static/fonts/icomoon.ttf?wwbq5l') format('truetype'), url('/static/fonts/icomoon.woff?wwbq5l') format('woff'), url('/static/fonts/icomoon.svg?wwbq5l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mdi-add-outline:before {
  content: "\e902";
}
.mdi-add-solid:before {
  content: "\e903";
}
.mdi-adjust:before {
  content: "\e904";
}
.mdi-airplane:before {
  content: "\e905";
}
.mdi-album:before {
  content: "\e906";
}
.mdi-align-center:before {
  content: "\e907";
}
.mdi-align-justified:before {
  content: "\e908";
}
.mdi-align-left:before {
  content: "\e909";
}
.mdi-align-right:before {
  content: "\e90a";
}
.mdi-anchor:before {
  content: "\e90b";
}
.mdi-announcement:before {
  content: "\e90c";
}
.mdi-apparel:before {
  content: "\e90d";
}
.mdi-arrow-down:before {
  content: "\e90e";
}
.mdi-arrow-left:before {
  content: "\e90f";
}
.mdi-arrow-outline-down:before {
  content: "\e910";
}
.mdi-arrow-outline-left:before {
  content: "\e911";
}
.mdi-arrow-outline-right:before {
  content: "\e912";
}
.mdi-arrow-outline-up:before {
  content: "\e913";
}
.mdi-arrow-right:before {
  content: "\e914";
}
.mdi-arrow-thick-down:before {
  content: "\e915";
}
.mdi-arrow-thick-left:before {
  content: "\e916";
}
.mdi-arrow-thick-right:before {
  content: "\e917";
}
.mdi-arrow-thick-up:before {
  content: "\e918";
}
.mdi-arrow-thin-down:before {
  content: "\e919";
}
.mdi-arrow-thin-left:before {
  content: "\e91a";
}
.mdi-arrow-thin-right:before {
  content: "\e91b";
}
.mdi-arrow-thin-up:before {
  content: "\e91c";
}
.mdi-arrow-up:before {
  content: "\e91d";
}
.mdi-artist:before {
  content: "\e91e";
}
.mdi-at-symbol:before {
  content: "\e91f";
}
.mdi-attachment:before {
  content: "\e920";
}
.mdi-backspace:before {
  content: "\e921";
}
.mdi-backward:before {
  content: "\e922";
}
.mdi-backward-step:before {
  content: "\e923";
}
.mdi-badge:before {
  content: "\e924";
}
.mdi-battery-full:before {
  content: "\e925";
}
.mdi-battery-half:before {
  content: "\e926";
}
.mdi-battery-low:before {
  content: "\e927";
}
.mdi-beverage:before {
  content: "\e928";
}
.mdi-block:before {
  content: "\e929";
}
.mdi-bluetooth:before {
  content: "\e92a";
}
.mdi-bolt:before {
  content: "\e92b";
}
.mdi-book-reference:before {
  content: "\e92c";
}
.mdi-bookmark:before {
  content: "\e92d";
}
.mdi-bookmarkcopy2:before {
  content: "\e92e";
}
.mdi-bookmarkcopy3:before {
  content: "\e92f";
}
.mdi-bookmark-outline:before {
  content: "\e930";
}
.mdi-bookmark-outline-add:before {
  content: "\e931";
}
.mdi-border-all:before {
  content: "\e932";
}
.mdi-border-bottom:before {
  content: "\e933";
}
.mdi-border-horizontal:before {
  content: "\e934";
}
.mdi-border-inner:before {
  content: "\e935";
}
.mdi-border-left:before {
  content: "\e936";
}
.mdi-border-none:before {
  content: "\e937";
}
.mdi-border-outer:before {
  content: "\e938";
}
.mdi-border-right:before {
  content: "\e939";
}
.mdi-border-top:before {
  content: "\e93a";
}
.mdi-border-vertical:before {
  content: "\e93b";
}
.mdi-box:before {
  content: "\e93c";
}
.mdi-brightness-down:before {
  content: "\e93d";
}
.mdi-brightness-up:before {
  content: "\e93e";
}
.mdi-browser-window:before {
  content: "\e93f";
}
.mdi-browser-window-new:before {
  content: "\e940";
}
.mdi-browser-window-open:before {
  content: "\e941";
}
.mdi-bug:before {
  content: "\e942";
}
.mdi-buoy:before {
  content: "\e943";
}
.mdi-calculator:before {
  content: "\e944";
}
.mdi-calendar:before {
  content: "\e945";
}
.mdi-camera:before {
  content: "\e946";
}
.mdi-chart:before {
  content: "\e947";
}
.mdi-chart-bar:before {
  content: "\e948";
}
.mdi-chart-pie:before {
  content: "\e949";
}
.mdi-chat-bubble-dots:before {
  content: "\e94a";
}
.mdi-checkmark:before {
  content: "\e94b";
}
.mdi-checkmark-outline:before {
  content: "\e94c";
}
.mdi-cheveron-down:before {
  content: "\e94d";
}
.mdi-cheveron-left:before {
  content: "\e94e";
}
.mdi-cheveron-outline-down:before {
  content: "\e94f";
}
.mdi-cheveron-outline-left:before {
  content: "\e950";
}
.mdi-cheveron-outline-right:before {
  content: "\e951";
}
.mdi-cheveron-outline-up:before {
  content: "\e952";
}
.mdi-cheveron-right:before {
  content: "\e953";
}
.mdi-cheveron-up:before {
  content: "\e954";
}
.mdi-clipboard:before {
  content: "\e955";
}
.mdi-close:before {
  content: "\e956";
}
.mdi-close-outline:before {
  content: "\e957";
}
.mdi-close-solid:before {
  content: "\e958";
}
.mdi-cloud:before {
  content: "\e959";
}
.mdi-cloud-upload:before {
  content: "\e95a";
}
.mdi-code:before {
  content: "\e95b";
}
.mdi-coffee:before {
  content: "\e95c";
}
.mdi-cog:before {
  content: "\e95d";
}
.mdi-color-palette:before {
  content: "\e95e";
}
.mdi-compose:before {
  content: "\e95f";
}
.mdi-computer-desktop:before {
  content: "\e960";
}
.mdi-computer-laptop:before {
  content: "\e961";
}
.mdi-conversation:before {
  content: "\e962";
}
.mdi-copy:before {
  content: "\e963";
}
.mdi-credit-card:before {
  content: "\e964";
}
.mdi-currency-dollar:before {
  content: "\e965";
}
.mdi-dashboard:before {
  content: "\e966";
}
.mdi-date-add:before {
  content: "\e967";
}
.mdi-dial-pad:before {
  content: "\e968";
}
.mdi-directions:before {
  content: "\e969";
}
.mdi-document:before {
  content: "\e96a";
}
.mdi-document-add:before {
  content: "\e96b";
}
.mdi-dots-horizontal-double:before {
  content: "\e96c";
}
.mdi-dots-horizontal-triple:before {
  content: "\e96d";
}
.mdi-download:before {
  content: "\e96e";
}
.mdi-duplicate:before {
  content: "\e96f";
}
.mdi-edit-copy:before {
  content: "\e970";
}
.mdi-edit-crop:before {
  content: "\e971";
}
.mdi-edit-cut:before {
  content: "\e972";
}
.mdi-edit-pencil:before {
  content: "\e973";
}
.mdi-education:before {
  content: "\e974";
}
.mdi-envelope:before {
  content: "\e975";
}
.mdi-exclamation-outline:before {
  content: "\e976";
}
.mdi-exclamation-solid:before {
  content: "\e977";
}
.mdi-explore:before {
  content: "\e978";
}
.mdi-factory:before {
  content: "\e979";
}
.mdi-fast-forward:before {
  content: "\e97a";
}
.mdi-fast-rewind:before {
  content: "\e97b";
}
.mdi-film:before {
  content: "\e97c";
}
.mdi-filter:before {
  content: "\e97d";
}
.mdi-flag:before {
  content: "\e97e";
}
.mdi-flashlight:before {
  content: "\e97f";
}
.mdi-folder:before {
  content: "\e980";
}
.mdi-folder-outline:before {
  content: "\e981";
}
.mdi-folder-outline-add:before {
  content: "\e982";
}
.mdi-format-bold:before {
  content: "\e983";
}
.mdi-format-font-size:before {
  content: "\e984";
}
.mdi-format-italic:before {
  content: "\e985";
}
.mdi-format-text-size:before {
  content: "\e986";
}
.mdi-format-underline:before {
  content: "\e987";
}
.mdi-forward:before {
  content: "\e988";
}
.mdi-forward-step:before {
  content: "\e989";
}
.mdi-gift:before {
  content: "\e98a";
}
.mdi-globe:before {
  content: "\e98b";
}
.mdi-hand-stop:before {
  content: "\e98c";
}
.mdi-hard-drive:before {
  content: "\e98d";
}
.mdi-headphones:before {
  content: "\e98e";
}
.mdi-heart:before {
  content: "\e98f";
}
.mdi-home:before {
  content: "\e990";
}
.mdi-hot:before {
  content: "\e991";
}
.mdi-hour-glass:before {
  content: "\e992";
}
.mdi-inbox:before {
  content: "\e993";
}
.mdi-inbox-check:before {
  content: "\e994";
}
.mdi-inbox-download:before {
  content: "\e995";
}
.mdi-inbox-full:before {
  content: "\e996";
}
.mdi-indent-decrease:before {
  content: "\e997";
}
.mdi-indent-increase:before {
  content: "\e998";
}
.mdi-information-outline:before {
  content: "\e999";
}
.mdi-information-solid:before {
  content: "\e99a";
}
.mdi-key:before {
  content: "\e99b";
}
.mdi-keyboard:before {
  content: "\e99c";
}
.mdi-layers:before {
  content: "\e99d";
}
.mdi-library:before {
  content: "\e99e";
}
.mdi-light-bulb:before {
  content: "\e99f";
}
.mdi-link:before {
  content: "\e9a0";
}
.mdi-list:before {
  content: "\e9a1";
}
.mdi-list-add:before {
  content: "\e9a2";
}
.mdi-list-bullet:before {
  content: "\e9a3";
}
.mdi-load-balancer:before {
  content: "\e9a4";
}
.mdi-location:before {
  content: "\e9a5";
}
.mdi-location-current:before {
  content: "\e9a6";
}
.mdi-location-food:before {
  content: "\e9a7";
}
.mdi-location-gas-station:before {
  content: "\e9a8";
}
.mdi-location-hotel:before {
  content: "\e9a9";
}
.mdi-location-marina:before {
  content: "\e9aa";
}
.mdi-location-park:before {
  content: "\e9ab";
}
.mdi-location-restroom:before {
  content: "\e9ac";
}
.mdi-location-shopping:before {
  content: "\e9ad";
}
.mdi-lock-closed:before {
  content: "\e9ae";
}
.mdi-lock-open:before {
  content: "\e9af";
}
.mdi-map:before {
  content: "\e9b0";
}
.mdi-menu:before {
  content: "\e9b1";
}
.mdi-mic:before {
  content: "\e9b2";
}
.mdi-minus-outline:before {
  content: "\e9b3";
}
.mdi-minus-solid:before {
  content: "\e9b4";
}
.mdi-mobile-devices:before {
  content: "\e9b5";
}
.mdi-mood-happy-outline:before {
  content: "\e9b6";
}
.mdi-mood-happy-solid:before {
  content: "\e9b7";
}
.mdi-mood-neutral-outline:before {
  content: "\e9b8";
}
.mdi-mood-neutral-solid:before {
  content: "\e9b9";
}
.mdi-mood-sad-outline:before {
  content: "\e9ba";
}
.mdi-mood-sad-solid:before {
  content: "\e9bb";
}
.mdi-mouse:before {
  content: "\e9bc";
}
.mdi-music-album:before {
  content: "\e9bd";
}
.mdi-music-artist:before {
  content: "\e9be";
}
.mdi-music-notes:before {
  content: "\e9bf";
}
.mdi-music-playlist:before {
  content: "\e9c0";
}
.mdi-navigation-more:before {
  content: "\e9c1";
}
.mdi-network:before {
  content: "\e9c2";
}
.mdi-news-paper:before {
  content: "\e9c3";
}
.mdi-notification:before {
  content: "\e9c4";
}
.mdi-notifications:before {
  content: "\e9c5";
}
.mdi-notifications-outline:before {
  content: "\e9c6";
}
.mdi-paste:before {
  content: "\e9c7";
}
.mdi-pause:before {
  content: "\e9c8";
}
.mdi-pause-outline:before {
  content: "\e9c9";
}
.mdi-pause-solid:before {
  content: "\e9ca";
}
.mdi-pen-tool:before {
  content: "\e9cb";
}
.mdi-phone:before {
  content: "\e9cc";
}
.mdi-photo:before {
  content: "\e9cd";
}
.mdi-php-elephant:before {
  content: "\e9ce";
}
.mdi-pin:before {
  content: "\e9cf";
}
.mdi-play:before {
  content: "\e9d0";
}
.mdi-play-outline:before {
  content: "\e9d1";
}
.mdi-playlist:before {
  content: "\e9d2";
}
.mdi-plugin:before {
  content: "\e9d3";
}
.mdi-portfolio:before {
  content: "\e9d4";
}
.mdi-printer:before {
  content: "\e9d5";
}
.mdi-pylon:before {
  content: "\e9d6";
}
.mdi-question:before {
  content: "\e9d7";
}
.mdi-queue:before {
  content: "\e9d8";
}
.mdi-radar:before {
  content: "\e9d9";
}
.mdi-radarcopy2:before {
  content: "\e9da";
}
.mdi-radio:before {
  content: "\e9db";
}
.mdi-refresh:before {
  content: "\e9dc";
}
.mdi-reload:before {
  content: "\e9dd";
}
.mdi-reply:before {
  content: "\e9de";
}
.mdi-reply-all:before {
  content: "\e9df";
}
.mdi-repost:before {
  content: "\e9e0";
}
.mdi-save-disk:before {
  content: "\e9e1";
}
.mdi-screen-full:before {
  content: "\e9e2";
}
.mdi-search:before {
  content: "\e900";
}
.mdi-send:before {
  content: "\e9e3";
}
.mdi-servers:before {
  content: "\e9e4";
}
.mdi-share:before {
  content: "\e9e5";
}
.mdi-share-01:before {
  content: "\e9e6";
}
.mdi-share-alt:before {
  content: "\e9e7";
}
.mdi-shield:before {
  content: "\e9e8";
}
.mdi-shopping-cart:before {
  content: "\e9e9";
}
.mdi-show-sidebar:before {
  content: "\e9ea";
}
.mdi-shuffle:before {
  content: "\e9eb";
}
.mdi-stand-by:before {
  content: "\e9ec";
}
.mdi-star-full:before {
  content: "\e9ed";
}
.mdi-station:before {
  content: "\e9ee";
}
.mdi-step-backward:before {
  content: "\e9ef";
}
.mdi-step-forward:before {
  content: "\e9f0";
}
.mdi-stethoscope:before {
  content: "\e9f1";
}
.mdi-store-front:before {
  content: "\e9f2";
}
.mdi-stroke-width:before {
  content: "\e9f3";
}
.mdi-subdirectory-left:before {
  content: "\e9f4";
}
.mdi-subdirectory-right:before {
  content: "\e9f5";
}
.mdi-swap:before {
  content: "\e9f6";
}
.mdi-tablet:before {
  content: "\e9f7";
}
.mdi-tag:before {
  content: "\e9f8";
}
.mdi-target:before {
  content: "\e9f9";
}
.mdi-text-box:before {
  content: "\e9fa";
}
.mdi-text-decoration:before {
  content: "\e9fb";
}
.mdi-thermometer:before {
  content: "\e9fc";
}
.mdi-thumbs-down:before {
  content: "\e9fd";
}
.mdi-thumbs-up:before {
  content: "\e9fe";
}
.mdi-ticket:before {
  content: "\e9ff";
}
.mdi-time:before {
  content: "\ea00";
}
.mdi-timer:before {
  content: "\ea01";
}
.mdi-toolscopy:before {
  content: "\ea02";
}
.mdi-translate:before {
  content: "\ea03";
}
.mdi-trash:before {
  content: "\ea04";
}
.mdi-travel:before {
  content: "\ea05";
}
.mdi-travel-bus:before {
  content: "\ea06";
}
.mdi-travel-car:before {
  content: "\ea07";
}
.mdi-travel-case:before {
  content: "\ea08";
}
.mdi-travel-taxi-cab:before {
  content: "\ea09";
}
.mdi-travel-train:before {
  content: "\ea0a";
}
.mdi-travel-walk:before {
  content: "\ea0b";
}
.mdi-trophy:before {
  content: "\ea0c";
}
.mdi-tuning:before {
  content: "\ea0d";
}
.mdi-upload:before {
  content: "\ea0e";
}
.mdi-usb:before {
  content: "\ea0f";
}
.mdi-user:before {
  content: "\ea10";
}
.mdi-user-add:before {
  content: "\ea11";
}
.mdi-user-group:before {
  content: "\ea12";
}
.mdi-user-solid-circle:before {
  content: "\e901";
}
.mdi-user-solid-square:before {
  content: "\ea13";
}
.mdi-vector:before {
  content: "\ea14";
}
.mdi-video-camera:before {
  content: "\ea15";
}
.mdi-view-carousel:before {
  content: "\ea16";
}
.mdi-view-column:before {
  content: "\ea17";
}
.mdi-view-hide:before {
  content: "\ea18";
}
.mdi-view-list:before {
  content: "\ea19";
}
.mdi-view-show:before {
  content: "\ea1a";
}
.mdi-view-tile:before {
  content: "\ea1b";
}
.mdi-volume-down:before {
  content: "\ea1c";
}
.mdi-volume-mute:before {
  content: "\ea1d";
}
.mdi-volume-off:before {
  content: "\ea1e";
}
.mdi-volume-up:before {
  content: "\ea1f";
}
.mdi-wallet:before {
  content: "\ea20";
}
.mdi-watch:before {
  content: "\ea21";
}
.mdi-window:before {
  content: "\ea22";
}
.mdi-window-new:before {
  content: "\ea23";
}
.mdi-window-open:before {
  content: "\ea24";
}
.mdi-wrench:before {
  content: "\ea25";
}
.mdi-yin-yang:before {
  content: "\ea26";
}
.mdi-zoom-in:before {
  content: "\ea27";
}
.mdi-zoom-out:before {
  content: "\ea28";
}
html {
  font-size: 14px;
}
body.dark {
  background: #161616;
}
body.dark header h1.site-title a {
  color: #FFF;
}
body.dark header ul a.active {
  background: rgba(255, 255, 255, 0.2);
}
body.dark .single-post .content h3 a {
  color: #FFF;
}
body.dark .single-comment {
  background: rgba(255, 255, 255, 0.04);
}
body.dark .single-comment .comment-content .comment-data {
  color: #FFF;
}
a:hover {
  text-decoration: none;
  color: #2962ff;
}
header {
  padding: 2rem 0;
  margin-bottom: 2rem;
}
header h1.site-title {
  font-size: 1.4rem;
  margin: 0 2rem 0 0;
  font-weight: 600;
}
header h1.site-title a {
  color: #161616;
  display: block;
  letter-spacing: .3px;
}
header h1.site-title a:hover {
  color: #2962ff;
}
header ul {
  margin: 0;
  color: #C4C4C4;
}
header ul a {
  color: #7F7F7F;
  font-size: 0.85rem;
  text-transform: uppercase;
  display: block;
  padding: .3rem .5rem;
  font-weight: 500;
}
header ul a span {
  display: block;
}
header ul a i {
  margin-right: .6rem;
  display: block;
  transform: scale(1.2);
}
header ul a.active {
  background: #161616;
  color: #FFF;
  font-weight: 700;
}
.single-post {
  font-size: 1rem;
}
.single-post button.upvote-btn {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  color: #969696;
  font-size: 1.1rem;
  position: relative;
  top: 3px;
}
.single-post button.upvote-btn i {
  display: inline-block;
  width: 15.41px;
}
.single-post button.upvote-btn.active {
  color: #2962ff;
}
.single-post p {
  margin: 0;
}
.single-post .upvote-wrap {
  margin-right: .7rem;
}
.single-post .content h3 {
  font-size: 1.1rem;
  margin: 0 .3rem 0 0;
  line-height: 1.4;
}
.single-post .content h3 a {
  color: #161616;
}
.single-post .content span.domain {
  display: inline-block;
  color: #ADADAD;
  font-size: .9rem;
}
.single-post .content span.domain a {
  color: #ADADAD;
}
.single-post .meta {
  color: #C4C4C4;
}
.single-post .meta p {
  font-size: .87rem;
  color: #8A8A8A;
}
.single-post .meta p a {
  color: #8A8A8A;
}
.single-post .meta p a:hover {
  color: #2962ff;
}
.single-post .meta p span.pipe {
  display: inline-block;
  margin: 0 .3rem;
}
.write-comment {
  max-width: 60%;
  margin: 1rem 0 3rem;
}
.write-comment textarea {
  margin-bottom: .6rem;
  min-height: 6rem;
  display: block;
  width: 100%;
  padding: .5rem;
  border: 1px solid #C4C4C4;
  position: relative;
}
.btn {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: .2px;
  font-weight: 600;
}
.single-comment {
  font-size: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.04);
  margin-bottom: 1rem;
}
.single-comment button.upvote-btn {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  color: #969696;
  font-size: 1.1rem;
  position: relative;
  top: 3px;
}
.single-comment button.upvote-btn i {
  display: inline-block;
  width: 15.41px;
}
.single-comment button.upvote-btn.active {
  color: #2962ff;
}
.single-comment .upvote-wrap {
  margin-right: .7rem;
}
.single-comment .comment-content .meta {
  color: #C4C4C4;
  margin: 0 0 .5rem 0;
}
.single-comment .comment-content .meta p {
  font-size: .87rem;
  color: #8A8A8A;
  margin: 0;
}
.single-comment .comment-content .meta p a {
  color: #8A8A8A;
}
.single-comment .comment-content .meta p a:hover {
  color: #2962ff;
}
.single-comment .comment-content .meta p span.pipe {
  display: inline-block;
  margin: 0 .3rem;
}
.single-comment .comment-content .comment-data {
  font-size: 1rem;
  color: #161616;
}
.ask-wrapper {
  width: 60%;
}
.ask-wrapper .single-field {
  margin-bottom: .8rem;
}
.ask-wrapper input[type="text"],
.ask-wrapper textarea {
  width: 100%;
  display: block;
  padding: .5rem;
  border: 1px solid #C4C4C4;
  position: relative;
}
.ask-wrapper textarea {
  min-height: 6rem;
}
.ask-wrapper .label {
  width: 60px;
  font-size: 1rem;
  color: #5D5D5D;
  font-weight: 600;
}
.ask-wrapper .input-wrapper {
  width: calc(100% - 60px);
}
.ask-wrapper .separator {
  font-weight: 600;
  color: #C4C4C4;
  margin-left: 60px;
  margin-bottom: .8rem;
}
.ask-wrapper .submit-wrapper {
  margin-left: 60px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.ask-wrapper .side-note p {
  font-size: 1rem;
  color: #C4C4C4;
}
